.allRecipes-main > p{
    font-size: 38px;
    font-family: 'Merienda', cursive;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.allRecipes-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6% 0;
    padding: 0 5% 0 15%;
}

.singleRecipe-div {
    text-align: left;
    margin-top: 5%;
    padding: 0 2% 3% 10%;
    box-shadow: 15px 21px 23px -17px rgba(0,0,0,0.75);
    box-sizing: border-box;
    width: 60%;
    border-radius: 10px;
    background: linear-gradient(347deg, #fee6ca 10%, #b9e9eb 10%);
    color: #2f3d64;
    height: fit-content;
}

.singleRecipe-name {
    font-family: 'Merienda', cursive;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}

.singleRecipe-ingredients, .singleRecipe-steps {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.5px;
}

.singleRecipe-otherPTags {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

.singleRecipe-chef {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}

.homepage-addIcon {
    font-size: 62px;
    position: fixed;
    left: 6%;
    bottom: 3%;
    color: #E84855;
    cursor: pointer;
}


.allRecipes-editIcon {
    position: relative;
    left: 90%;
    bottom: -5px;
    cursor: pointer;
    font-size: 20px;
}

.handleEditPopup {
    position: absolute;
    z-index: 15;
    top: 20%;
    left: 40%;
    color: #415375;
    background-color: #f1c4c1;
    height: fit-content;
    width: fit-content;
    text-align: left;
    padding: 2% 5%;
    border-radius: 10px;
}

.handleEditPopup-data {
    /* border: 2px solid red; */
    width: 150%;
}

.handleEditPopup input {
    border: 0;
    border-bottom: 2px solid #2f3d64;
    background-color: #f1c4c1;
    padding: 2% 5% 0 1%;
    outline: none;
    font-size: 16px;
}

.editRecipeHeader {
    font-size: 24px;
    font-family: 'Merienda', cursive;
    font-weight: 900;
    letter-spacing: 0.5px;
    position: relative;
    top: -25px;
}

.handleEditPopup ul {
    line-height: 30px;
}

.editRecipe-AddButtons {
    background-color: #f1c4c1;
    color: #415375;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.handleEditPopup ul li {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.deleteIcon {
    margin-left: 2%;
}

.editRecipeConfirm {
    padding: 5px 10px;
    position: relative;
    left: 15%;
    background-color: #2f3d64;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.editRecipeClose {
    position: relative;
    top: -115px;
    right: -120%;
    cursor: pointer;
}